body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 480px;
    height: 480px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#timer {
    font-size: 60px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
}

.progress-ring__circle {
    stroke: green;
    stroke-width: 50;
    fill: transparent;
    transition: stroke-dashoffset 1s linear;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}